---
--- 
@import "{{ site.theme }}";
@media (prefers-color-scheme: dark) {
    body {
        color: whitesmoke;
        background-color: rgb(70, 73, 74);
    }
}

.page-header {
    background: linear-gradient(-45deg, #155798, #149858)no-repeat center center fixed;
    background-size: 200% 200%;
    animation: gradient 6s infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}
